
# Viterbi Algorithm

In [6]:
import numpy as np 
import pandas as pd
import math
import random

In [7]:
# given data 
# State Transition Matrix
A = [[0.75, 0.25],[0.2, 0.8]]

# Observation Matrix
B = [[1/6,1/6,1/6,1/6,1/6,1/6],[5/12,2/12,1/12,1/12,2/12,1/12]]

# Initial State Probability Vector
Pi = [0.45, 0.55]

In [8]:
#Generating a random sequence of states of length 100
L = 100    # Length
N = 2      # States
M = 6      # Observations
random_seq = list(np.random.randint(low = 0, high=M, size=L)) # here high is exclusive

print(f'Random Sequence of Observations: \n{random_seq}')

Random Sequence of Observations:
[1, 5, 2, 0, 5, 1, 5, 1, 5, 1, 4, 5, 2, 2, 2, 0, 0, 1, 1, 0, 2, 4, 1, 1, 2, 2, 0, 3, 5, 5, 3, 1, 0, 2, 0, 5, 3, 1, 5, 0, 2, 5, 1, 5, 2, 4, 0, 3, 5, 4, 5, 2, 4, 4, 4, 4, 2, 4, 2, 1, 0, 5, 2, 4, 3, 0, 1, 4, 2, 3, 2, 1, 4, 3, 3, 3, 4, 3, 2, 5, 0, 0, 1, 5, 0, 1, 4, 3, 2, 3, 3, 1, 5, 1, 3, 1, 0, 4, 5, 0]

In [4]:
D = np.zeros((N,L))

for i in range(L):
    for j in range(N):
        k = random_seq[i]
        if i == 0:         
            D[j][i] = Pi[j] * B[j][k]       # Initialization
    
        else:
            D[j][i] = max(D[0][i-1]* A[0][j],D[1][i-1]* A[1][j]) * B[j][k]
    
Delta = pd.DataFrame(D)
display(Delta)

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,0.075000,0.009375,0.002546,0.000849,0.000113,0.000015,0.000002,6.706295e-07,8.941726e-08,1.117716e-08,...,8.032270e-79,1.004034e-79,1.255042e-80,1.568803e-81,1.961003e-82,2.451254e-83,3.064068e-84,3.830085e-85,4.787606e-86,5.984508e-87
1,0.229167,0.076389,0.025463,0.003395,0.000453,0.000060,0.000020,2.682518e-06,1.788345e-07,5.961151e-08,...,1.338712e-79,1.673390e-80,1.045868e-80,1.394491e-81,9.296609e-83,6.197739e-84,2.553390e-84,3.404520e-85,2.269680e-86,3.026240e-87

In [9]:
state_seq = []

for i in range(L):
    if D[0][i] > D[1][i]:
        state_seq.append(1)
    else:
        state_seq.append(2)

print(f'The most likely state sequence for the random observation sequence is:\n\n{state_seq}')

The most likely state sequence for the random observation sequence is:

[2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 2, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]